<% layout("/layouts/boilerplate") %>
<div class="row new-row">
  <div class="col-6 offset-3">
  <body>
    <h3>Add Food Details</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Food Name</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
        <div class="valid-feedback">Name looks good!</div>
      </div>
      <div class="mb-3">
        <h3>Original Food image </h3>
        <img class="pre-img" src="<%= originalImageUrl %>" height="300px" width="500px" alt="img">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control"/>
      </div>
      <div class="mb-3">
      <label for="price" class="form-label">Available food quantity for number of peoples</label>
      <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
      <div class="invalid-feedback">Number should be valid</div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Food Type</label>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        class="form-control"
        required
        />
        <div class="invalid-feedback">Food type should be valid</div>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Food Category</label>
        <input class="form-control" type="text" value="<%= listing.category %>" placeholder="raw/cooked/packed" name="listing[category]" required>
        <div class="invalid-feedback">Category should be valid</div>
     </div>
     <div class="mb-3">
      <label for="contact" class="form-label">Phone Number</label>
      <input class="form-control" type="number" name="listing[contact]" value="<%= listing.contact %>" placeholder="+91" required>
      <div class="invalid-feedback">Number should be valid</div>
   </div>
      <Div class="mb-3">
        <label for="description" class="form-label">Address</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Please enter address here</div>
      </Div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">location should be valid</div>
      </div>
      <br /><br />
      <button class="btn btn-dark offset btn-edit-page">Edit</button>
    </form>
  </body>
  </div>
</div>
